# MongoDB Atlas connection string
# Example:
# MONGO_URI=mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority
MONGO_URI="mongodb+srv://admin:admin123@cluster0.gjagiiv.mongodb.net/?Fitness_Tracking_System=Cluster0"

# Server port
PORT=5000

